.Button{
    background-color: #d9f196c2; 
    color: black;
    text-align: center;

    font-size: 12px;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;

    border-radius: 5px black;
}

.Button:hover{
    background-color: #bfe656;
}

.TextBox{
    font-size: 12px;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 1%;
    margin-left: 5pt;
    margin-right: 5pt;
}