.MainTitle {
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    color: #FFF;
    font-style: italic;
    text-shadow: 1px 1px 2px rgb(252, 248, 11);
}

.RecipeTitle {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    color: #FFF;
    font-style: italic;
    text-shadow: 1px 1px 2px rgb(252, 248, 11);
    margin: 0;
    display: block;
}

.SubTitle {
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}

.SmallTitle {
    font-size: 14px;
    text-align: left;
    text-decoration: underline;
    margin-left: 20pt;
}

.SmallTitleCentered {
    font-size: 14px;
    text-align: center;
    text-decoration: underline;
}

.Paragraph{
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    padding: 1%;
}

body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}